.table-container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #917070;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr.seperator-row td {
    border-bottom: 2px solid #000;
  }
  